*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/****
/ NAVIGATION
****/
.nav{
    height: 80px;
    background: #262b29;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /* makes sure that the navbar will always be 
    in front of everything else */
    z-index: 999;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#nav_logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.logo_img{
    position: absolute;
    padding: 10px;
}

.nav_menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_item{
    height: 80px;
}

.nav_links{
    color: whitesmoke;
    display: flex;
    align-items: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    /* makes transition cleaner */
    transition: all 0.3s ease;
}

.nav_links:hover{
    color: #38ef7d;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .nav_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .nav_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .nav_menu.active{
        background: #262b29;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    .logo_img{
        padding-left: 25px;
    }

    .nav_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: whitesmoke;
    }

    .nav_item{
        width: 100%;
    }

    .nav_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .nav_toggle .bar{
        display: block;
        cursor: pointer;
    }

    /* cool transition animation */
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }   
}

/****
/ HOME SECTION
****/
.home{
    position: relative;
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11998e, #38ef7d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11998e, #38ef7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

.home::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("images/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0;
    opacity: 0.50;
    filter: blur(2px);
}

.home_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.home_heading{
    position: relative;
    font-size: 80px;
    margin-bottom: 24px;
    color: whitesmoke;
}

.home_heading span{
    position: relative;
    background: #C22EDC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FE0000, #FD8C00, #FFE500, #119F0B, #0644B3, #C22EDC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FE0000, #FD8C00,#FFE500, #119F0B, #193e7e, #C22EDC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    border-radius: 5px;
}

.home_subheading{
    position: relative;
    font-size: 30px;
    background: whitesmoke; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FE0000, #FD8C00, #FFE500, #119F0B, #0644B3, #C22EDC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FE0000, #FD8C00,#FFE500, #119F0B, #193e7e, #C22EDC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-blend-mode:color-burn;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.highlight{
    border-bottom: 4 px solid rgb(132, 0, 255);
}

@media screen and (max-width: 1100px){
    .home_heading{
        font-size: 50px;
    }

    .home_subheading{
        font-size: 25px;
    }
}

@media screen and (max-width: 400px){
    .home_heading{
        font-size: 40px;
    }

    .home_subheading{
        font-size: 20px;
    }

    .logo_img{
        height: 30px;
        width: 260px;
        padding: 0px 30px 0px 20px;
    }
}